/* =============== */
/* ALERT BAR       */
/* =============== */
.preview-alert {
  margin-bottom: 0;
  border-radius: 0;
  background-color: tint($brand-success, 90%);
  border-bottom: 10px solid $brand-success;
  color: shade($brand-success, 10%);

  & .preview-alert-msg {
    margin-right: 1em;
  }
}

#search-navbar {
  background: $dul-masthead-blue;
  padding-top: none;
  border-top: none;
  padding: 18px 0 10px 0;
  margin-bottom: 0;

  /* =============== */
  /* BRANDING / LOGO */
  /* =============== */
  .logo-wrapper {
    padding-left: 0;
    padding-right: 0;
    @media (max-width: $screen-sm) {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 15px;
    }
  }

  .navbar-dul {
    margin-right: 20px;
    float: left;
    .navbar-logo {
      height: 44px;
    }
  }

  .navbar-product-name {
    float: left;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    a {
      &:hover, &:active, &:focus {
       text-decoration: none;
       .product-name-secondary {
         color: #ddd;
       }
      }
    }
    .product-name-primary {
      display: block;
      font-weight: bold;
      font-size: 15px;
      line-height: 22px;
      margin-top: 0;
      color: white;
    }
    .product-name-secondary {
      display: block;
      color: #ccc;
      font-size: 18px;
      margin-top: 1px;
      padding-top: 0;
      padding-left: 1px;
    }
  }

  /* =========== */
  /* SEARCH FORM */
  /* =========== */
  form.navbar-form {
    margin: 0;
    padding: 0;
    max-width: none;
    box-shadow: none;
    -moz-box-shadow: none;
  }

  .mast-search {
    padding-top: 0;

    .input-group {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      align-content: flex-start;
      .input-group-btn.search_field {
        display: table-cell;
        flex: 0 0 auto;
        width: auto;
      }

      .bootstrap-select {

        .filter-option-inner-inner {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: calc(100% - 1.25em);
        }

      }

      .twitter-typeahead {
        min-width: auto;
        .tt-menu {
          font-family: inherit;
        }
      }
      label {
        color: white;
      }

      input.search_q {
        min-width: auto;
        font-size: 17px;
      }
      input#q {
        display: block;
        flex: 1 1 auto;
        font-size: 16px;
        background-color: #fff !important;
        z-index: 10; /* Must be higher than input.search_q */
      }
      .submit-search-text {
        display: none;
      }
      .input-group-btn {
        display: block;
        flex: 0 0 auto;
        width: auto;
      }
    }
  }
  .search-extra-controls {
    margin-top: 0;
    text-align: left;
    .input-group-element {
      display: none;
    }
  }
  a.advanced_search {
    color: #ddd;
    font-size: 15px;
    &:hover {
      color: white;
    }
  }

  #bookmarks_nav {
    margin-left: 1.25em;
    color: #ddd;
    font-size: 14px;

    &:hover {
      color: white;
    }
  }

  /* ============== */
  /* MASTHEAD LINKS */
  /* ============== */

  #primary-menu {
    float: right;
    /* Hide in mobile mode; use the #mobile-only-menu */
    @media (max-width: $screen-sm) {
      display: none;
    }
    .navbar-nav {
      margin: 4px -15px;
      @media (max-width: 813px) {
        display: none;
      }
      a {
        color: #ddd;
        text-transform: none;
        margin-bottom: 0;
        font-size: 15px;
        padding: 4px 7px 0 7px;
        @media (min-width: $screen-lg) {
          padding: 4px 9px 0 9px;
        }

        &:before {
         margin-right: 0.3em;
        }
        &:hover {
          color: white;
        }
        &.my-accounts {
          &:before {
            content: "\f007";
            font-family: FontAwesome;
          }
        }
        &.ask-a-librarian {
          &:before {
            content: "\f075";
            font-family: FontAwesome;
          }
        }
        &.full-menu {
          &:before {
            content: "\f0c9";
            font-family: FontAwesome;
          }
          &.menu-active {
            color: white;
            &:before {
              content: "\f00d";
              font-family: FontAwesome;
            }
          }
        }
        & .nav-label {
          @media (max-width: $screen-md) {
            display: none;
          }
        }
      }
    }
  }

  /* ============= */
  /* Mobile Toggle */
  /* ============= */

  .btn.navbar-toggle {
    color: #ddd;
    font-size: 24px;
    background-color: inherit;
    border: none;
    padding: 0;
    margin: 5px 0 0 0;
    &:hover {
      color: white;
    }
    &:not(.collapsed) {
     color: white;
    }
    &:focus {
      /* See https://ghinda.net/article/mimic-native-focus-css/ */
      outline-style: solid;
      outline-width: 3px;
      outline-offset: 2px;
      outline-color: Highlight;
      /* Chrome & Safari */
      @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
        outline-color: -webkit-focus-ring-color;
        outline-width: 5px;
        outline-style: auto;
      }
      /* Firefox */
      @-moz-document url-prefix() {
        outline-width: 3px;
      }
    }

  }

  /* Patch the void between 768px & 813px where the shared DUL mast expects */
  /* to be fully in mobile mode but DUL catalog does not. This breakpoint   */
  /* mismatch complicates things a bit. */
  @media (max-width: 813px) {
    .btn.navbar-toggle.mobile-menu-right-toggle {
      display: block;
    }
  }

}

/* ====================== */
/* Mobile-Only Menu */
/* ====================== */

#mobile-only-menu {
  background: $secondary-color;
  .navbar-nav {
    margin-top: 0;
    background: $secondary-color;
    float: none;
    margin: 0 -15px 10px -15px;
    li {
      width: 100%;
    }
    a {
      color: white;
      &:hover, &:focus {
        background: $brand-success;
      }
    }
  }

  /* Breakpoint different from $screen-sm b/c shared DUL */
  /* megadropdowns would not render between 768-813px */
  @media (min-width: 813px) {
    display: none;
  }
}

/* ====================== */
/* DUL Masthead Overrides */
/* ====================== */
/* Just show the primary nav menu from the shared mast; hide the rest */
/* TODO: Consider adding a menu-only option to dul-masthead app, e.g., via */
/* a parameter, so the markup for these hidden elements doesn't render at all */

#dul-masthead-row, #dul-masthead-row .nav {
  background: $secondary-color;
}

.dul-masthead-bar {
  #dul-masthead-dul-megamenu {
    height: auto;
    /* Hide all the parts of the shared mast that we won't use */
    .dul-masthead-region-logo,
    .dul-masthead-region-scoped-search,
    .dul-masthead-region-myaccount,
    #dul-masthead-logo,
    .dul-masthead-mobile-menu,
    #dul-masthead-nav-trigger-btn,
    .hide-link-text,
    li.dul-masthead-megamenu_button {
      display: none !important;
    }
    #dul-masthead-region-megamenu {
      display: none;
      margin-top: 0;
    }
    .dul-masthead-megamenu_container ul {
     padding: 0;

     li.dul-masthead-mega_toplevel {
       padding: 12px;
       > a {
         font-weight: 400;
         color: white;
       }
     }

     div.dul-masthead-dropdown_fullwidth {
       box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
       border-top: none;
       margin-top: 5px;
       @media (min-width: $screen-md) {
         border-left: 150px solid $secondary-color !important;
       }
       @media (min-width: $screen-lg) {
         border-left: 200px solid $secondary-color !important;
       }
     }
    }

    .dul-masthead-no-touch ul li.dul-masthead-mega_toplevel:hover {
      background: $brand-success;
      border-top: 0;
      margin-top: 0 !important;
      > a {
        color: white;
      }
    }
    .dul-masthead-megamenu_container div.dul-masthead-dropdown_fullwidth a {
      color: $primary-link-color;
      &:hover {
        color: $link-hover-color;
        text-decoration: underline;
      }
    }
  }

  /* Don't display it at all in mobile mode */
  @media (max-width: $screen-sm) {
    display: none;
  }
}

/* ====================== */
/* TRLN Sub-banner        */
/* ====================== */

.blacklight-catalog #trln-banner {
  display: none;
}

.blacklight-trln, .blacklight-advanced_trln {

  #trln-banner {
    display: block;
    background: white;
    padding: 0.8em 0;
    border-top: 4px solid $trln-magenta;
    box-shadow: 0px 1px 5px 2px rgba(50,50,50,0.2);
    .container {
      padding-left: 0;
      @media (max-width: $screen-sm) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .trln-home-link {
      color: #333;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      &:hover, &:active, &:focus {
        color: $link-hover-color;
        text-decoration: none !important;
      }
      @media (max-width: $screen-xs) {
        font-size: 18px;
      }
    }
    .submast-separator {
      color: $trln-magenta;
      padding: 0 0.15em;
    }
  }
}

