#toggle-trln-btn-top.btn-primary {
  &.active,:active {
    background-color: $trln-magenta;
    border-color: shade($trln-magenta, 25%);
  }
}

#toggle-local-btn-top.btn-primary {
  &.active,:active {
    background-color: $primary-color;
    border-color: shade($primary-color, 25%);
  }
}

.constraints-container {
  background: #eee;
  border: none;
  box-shadow: none;
  border-radius: 0 0 0 8px;
  margin-top: -1px;
  margin-right: -31px;
  padding-right: 31px;
  @media (max-width: $screen-sm) {
    margin-right: 0;
    padding-right: 15px;
  }
  @media (min-width: $screen-sm) {
    padding-top: 0;
  }
}

#previousNextDocument {
  border-bottom: none;
}

#previousNextDocument.border {
  border-bottom: 1px solid #ddd;
}

.blacklight-catalog-index, .blacklight-trln-index {
  /* Note: this needs a bugfix in trln_argon for TRLN view      */
  /* See stylesheets/trln_argon/trln_argon_shared.scss#L514-L520 */
  #sortAndPerPage .search-widgets .btn-default {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    &#rss_button {
       height: 32px;
       line-height: 1em !important;
       font-size: 20px !important;
       padding: 4px 8px !important;
       color: #ccc !important;
       &:hover {
         background: #e27800;
         border-color: #e27800;
         color: white !important;
       }
     }
  }
}

#documents {
  .document {
    border-bottom: none;
    padding-bottom: 10px;
    .documentHeader.row {
      margin: 0;
      &:before {
        content: "";
        display: none;
      }
      &:after {
        clear: none;
      }
    }
    h3.document-title-heading {
      float: none;
      font-size: 1.5em;
      padding: 0;
      margin-top: 0;
      z-index: 0 !important;
      a:hover {
        text-decoration: underline;
        color: $link-hover-color;
      }
    }
    .index-document-functions {
      float: right;
      padding-left: .5em;
      margin-bottom: 10px;
      /* Opacity gets changed to 1 via JS once thumb validity has been checked  */
      /* and thus the position is known.*/
      opacity: 0;
      transition: opacity 500ms linear;
      position: relative;
      z-index: 10; /* must exceed .document-title-heading's z-index */
      clear: right;
    }

  }
}

.blacklight.thumbnail {
  margin-bottom: 5px;
  margin-left: 1em;
  img {
    margin: 0;
    padding: 0;
    border: none !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    max-width: 78px;
  }
}

.index-document-metadata {
  float: none;
  margin-bottom: 0.5em;
  /* Emulate clearfix */
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  & ul {
    margin-left: 0;
    margin-bottom: 5px;
  }
}

.index-metadata {
  float: none;
  &.statement_of_responsibility_a {
    display: block;
    font-weight: bold;
    color: #555;
  }
  /* Make secondary metadata fields display on one line, separated by slashes */
  &.imprint_main_a,
  &.edition_a,
  &.resource_type_a,
  &.physical_media_a {
      display: inline;
      &::after {
        content: " / ";
        color: $gray-light;
        margin: 0 0.4em;
      }
      &:last-of-type::after {
        content: "";
        margin: 0;
      }
    }
}

.location-modal-toggle .fa {
  padding: 0 3px 0 3px;
  font-size: 1.25em;
}

.location-modal-toggle.touch-enabled {
  background-color: $link-hover-color;
  border-radius: 5px;
  padding: 0 8px 4px 3px;
  margin-left: .2em;
  white-space: nowrap;

  &::after {
    content: 'where to find it';
    color: #fff;
    font-size: .75em;
  }

  &:hover {
    text-decoration: none;
  }

  .fa {
    color: #fff;
    font-size: .8em;
  }

}

.barcode-label {
  background: #e5e5e5;
  color: #444;
  border: 1px solid #ddd;
  border-color: #ddd !important;
  padding-top: calc(.2em - 1px);
  padding-bottom: calc(.3em - 1px);
  margin-right: .75em;
}

.barcode-content {
  display: inline;
}

.barcode-wrapper {
  width: 100%;
  margin-top: .5em;
  display: none;
}

.staff-view-toggle-wrapper {
  text-align: right;
  position: absolute;
  bottom: -10px;
  right: 10px;
  font-size: .85em;
}

.staff-view-toggle,
.staff-view-toggle:hover,
.staff-view-toggle:focus {
  color: $gray;
}


/* hide edit button */
#editSearchLink {
  display: none;
}

.primary-url ul li a {
  display: inline-block !important;
}

.link-title-text {
  padding-left: .5em;
}

div.primary-url {
  width: 100% !important;
}

#documents .document {
  .has-request,
  .has-thumbnail,
  .has-request-and-thumbnail,
  .no-request-nor-thumbnail {
    h3.document-title-heading {
      word-wrap: break-word;
      word-break: break-word;
      overflow-wrap: break-word;
      display: block;
      display: -webkit-box;
      max-height: 3.6em;
      margin: 0 auto;
      margin-bottom: 5px;
      margin-top: 0;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $primary-link-color;
    }
  }

  .statement_of_responsibility_a {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    display: block;
    display: -webkit-box;
    max-height: 2.7em;
    -webkit-line-clamp: 2;
    // max-height: 4em;
    // -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@-moz-document url-prefix() {
  #documents .document {
    .has-request,
    .has-thumbnail,
    .has-request-and-thumbnail,
    .no-request-nor-thumbnail {
      h3.document-title-heading::before {
        background: #fff;
        bottom: 0;
        position: absolute;
        right: 0;
        float: right;
        content: '\2026';
        margin-left: -3rem;
        width: 3rem;
      }

      h3.document-title-heading::after {
        content: '';
        background: #fff;
        position: absolute;
        height: 3.6em;
        width: 100%;
        z-index: 1;
      }
    }
  }
}

#documents .document {
  .has-request,
  .has-thumbnail,
  .has-request-and-thumbnail {
    width: calc(100% - 94px);
  }
}

@media (min-width: $screen-sm) {

  #documents .document {
    .index-document-functions {
      clear: none;
    }
    .has-request-and-thumbnail {
      width: calc(100% - 186px);
    }
  }

  .primary-url ul.multiple-links-institution,
  .primary-url ul.multiple-links {
    display: flex;
    flex-wrap: wrap;
    li {
      flex: 0 calc(50% - 10px);
      text-align: center;
    }
    li:nth-child(odd) {
      margin-right: 5px;
    }
    li:nth-child(even) {
      margin-left: 5px;
    }
  }

}


.flex-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-columns > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.no-results .well {
  width: 100%;
  h4 { font-weight: bold; }
}

@media (min-width: $screen-md) {

  .no-results .well {
    width: calc(1/2*100% - (1 - 1/3)*10px);
    margin-bottom: 2em;
  }

  .no-results .col-md-12.well {
    width: 100%;
  }

}

.view_trln_results .btn {
  padding: 1em 2em;
  width: 100%;
}

.items-wrapper .location-narrow-group {
  overflow: hidden;
}

.items-wrapper {
  ul {
    list-style:none;
    padding-left: 20px;
  }
}

.modal-button-wrapper {
  display: inline-block;
}

#documents .modal-body .primary-url {
  width: 100% !important;
  margin: 0 !important;
}

/* updates trln values for show/hide */

#enhanced-data .content p {
  font-size: 16px;
  margin-bottom: 22px;
  line-height: 22px;
}

.contracted,
.contracted-ul {
  margin-bottom: 22px;
  max-height: 88px;
}

.contracted-ul {
  max-height: 96px;
}



/* bookmarks */

@media (min-width: $screen-sm) {
  body.blacklight-catalog-show .btn.request-from-duke {
    margin-bottom: .5em;
  }
}

body.blacklight-catalog-show,
body.blacklight-trln-show {
  form.bookmark_toggle {
    float: right;
    margin-top: 2px;
  }
}

body.blacklight-catalog-index,
body.blacklight-trln-index,
body.blacklight-bookmarks-index {
  div.toggle_bookmark  {
    float: right;
  }
  .btn.request-from-duke,
  .btn.request-from-trln {
    margin-bottom: .5em;
  }
}

.show-tools .bookmark_toggle {
    padding: 0;
}

form.bookmark_toggle .checkbox {
  padding-top: 0;
}

div.toggle_bookmark {
  width: 33px;
  height: 30px;
  .tooltip {
    white-space: nowrap;
  }
}

input[type=checkbox].toggle_bookmark {
  /*display:none;*/
  z-index: -1;
  margin: 10px 6px 2px 6px;
  position: relative;
  right: 17px;
}

label.toggle_bookmark {
  min-width: auto;
  width: 33px;
  height: 30px;
  background-image: image-url('folder_unchecked.png');
  &.checked {
    background-image: image-url('folder_checked.png');
  }
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {
  #show-sidebar-inner .doc-tools,
  #show-sidebar-inner .btn {
    width: 100%;
  }

  body.blacklight-catalog-show form.bookmark_toggle {
    float: none;
    padding-left: calc(50% - 16px);
  } 
}

#bookmark-modal .modal-body {
  overflow: visible;
}

#bookmark-modal #copy-to-clipboard {
  border-width: 1px;
}