#document h2 {
  margin-bottom: 0.6em;
}

#title-and-thumbnail {
  .blacklight.thumbnail {
    margin-top: 1.5em;
    margin-left: 0.5em;
    /* Only show this thumb in smallest viewports, others use sidebar */
    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}

.show-document {
  padding-bottom: 30px;
  padding-right: 30px;
  box-shadow: inset -20px 0 20px -20px rgba(0,0,0,0.25);

  @media (max-width: $screen-sm) {
    border-right: none;
    box-shadow: none;
  }
  .show-tools {
    /* Hide at most widths in favor of sidebar display */
    display: none;
    @media (max-width: $screen-sm) {
      /* At smallest widths, sidebar is gone; show tools in main content */
      display: block;
    }
  }
}


#show-sub-header {
  margin-top: 1.5em;
  li.statement_of_responsibility_a {
    font-weight: bold;
    font-size: 19px;
  }
  /* Make secondary metadata fields display on one line, separated by slashes */
  li.edition_a,
  li.resource_type_a,
  li.physical_media_a {
    display: inline;
    &::after {
      content: " / ";
      color: $gray-light;
      margin: 0 0.4em;
    }
    &:last-of-type::after {
      content: "";
      margin: 0;
    }
  }
}

/* List styles, esp. for styling to columns */

.show-document ul {
  margin-left: 0;
}


.show-document {
  /* Consider refining these styles in TRLN Argon */
  /* rather than overriding them here. See trln_argon_shared.scss */
  /* Doing this as an override necessitates using !important and */
  /* using &:before, &::before */
  #authors, #included-works, #subjects {
    ul {
      list-style-type: square;
      color: #767676;
      column-gap: 3em;
      column-fill: balance;
      column-width: auto;
      padding-left: 0;
      li {
        margin-bottom: 6px;
        display: block !important;
        margin-left: 0;
        width: 100%;
        padding-left: 1em;
        break-inside: avoid;
        overflow: hidden;
        overflow-wrap: break-word;
        &:before, &::before {
          content: '■';
          margin-left: -1.5em;
          width: 1.5em;
          height: 100%;
          display: inline-block !important;
          margin-right: 0 !important;
          padding-top: 0.3em !important;
          font-size: 0.6em !important;
          float: none !important;
          vertical-align: text-top;
        }
      }
    }
  }

  #authors ul, #included-works ul {
    @media screen and (min-width: $screen-sm) {
      column-count: 2;
    }
    @media screen and (min-width: $screen-lg) {
      column-count: 3;
    }
  }

  #subjects ul {
    @media screen and (min-width: $screen-sm) {
      column-count: 2;
    }
  }
}


#other-details, #related-works {
  dl.dl-invert {
    column-count: 2;
    column-gap: 3em;
    @media screen and (max-width: $screen-sm-max) {
      column-count: auto;
    }

    & > div {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      margin-bottom: 1.2em;
    }
    dt {
      padding: 0;
      margin: 0;
      font-weight: bold;
      &:not(:first-child) {
        margin-top: 15px;
      }
    }
    dd {
      padding: 0;
      margin: 0;
      & .blacklight-secondary_urls {
        word-wrap: break-word;
      }
      /* Make line-breaks in any of the note or description   */
      /* fields taller to look more like separated paragraphs */
      &[class*="note"], &[class*="description"] {
        br {
          line-height: 2.25em;
        }
      }
      ul {
        padding-left: 0;
      }
    }
  }
}

.dul-bookplate {
  border: 2px solid $dandelion;
  background-color: tint($dandelion, 60%);
  margin: 5px;
  padding: 10px;
  display: block;
  font-weight: bold;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.items {
  ul {
    list-style:none;
    padding-left: 20px;
  }
}
