/* ================================= */
/* Duke Branding Guide colors        */
/* https://brand.duke.edu/colors/    */
/* ================================= */
$duke-navy-blue: #012169;
$duke-royal-blue: #00539b;
$copper: #c84e00;
$persimmon: #e89923;
$dandelion: #ffd960;
$piedmont: #a1b70d;
$eno: #339898;
$magnolia: #1d6363;
$prussian-blue: #005587;
$shale-blue: #0577b1;
$ironweed: #993399;
$hatteras: #e2e6ed;
$whisper-gray: #f3f2f1;
$ginger-beer: #fcf7e5;
$dogwood: #988675;
$shackleford: #dad0c6;
$cast-iron: #262626;
$graphite: #666666;
$granite: #b5b5b5;
$limestone: #e5e5e5;

/* ================================= */
/* DUL website colors (dulcet theme) */
/* ================================= */
$dul-masthead-blue: #555555;
$dul-dulcet-lightblue: #235f9c;
$dul-dulcet-green: #a1b70d;
$dul-dulcet-orange: #f09905;
$dul-dulcet-red: #cc3300;

/* ========================================== */
/* TRLN colors from branding guide:           */
/* https://www.trln.org/about/trln-branding/  */
/* ========================================== */
$trln-purple: #490e6f;
$trln-magenta: #0577b1;
$trln-orange: #ff6d22;
$trln-teal: #1e9d8b;

/* ======================== */
/* Unique to DUL Argon Skin */
/* ======================== */
$dul-argon-green: #00830e;
$gray-light-more: #cccccc;
$gray-lightest: #fafafa;


/* ============================= */
/* TRLN Argon Variables Override */
/* ============================= */
@import 'trln_argon_variables';

$link-hover-color: tint($primary-link-color, 20%);

/* ======================================== */
/* Bootstrap Variables Override             */
/* Map to our local color palette as much   */
/* as possible.                             */
/* ======================================== */
$brand-primary: $primary-color;
$brand-success: $shale-blue;
$brand-danger: $dul-dulcet-red;
$brand-warning: $dul-dulcet-orange;
$brand-info: $primary-link-color;
$gray-light: #767676;
