<!-- NOTE: Template override added to support POD -->

<% if add_spacer_above_items_section?(document: document) %>
  <div class="<%= items_spacer_class %>"></div>
<% end %>

<div class="<%= items_wrapper_class %>">

  <div class="row">
    <ul>
      <li><%= link_to_local_catalog(document) %></li>
    </ul>
    <%= render partial: "items_section_extra", locals: { document: document } %>
  </div>

</div>
