<%# Overrides template from trln_argon. %>

<div class="row">
  <div class="navbar-left logo-wrapper col-xs-12 col-sm-5 col-md-4 col-lg-3">

    <div class="navbar-dul">
      <a href="<%= DulArgonSkin.dul_home_url %>">
        <img class="navbar-logo" alt="Duke University Libraries" src=<%= image_path('branding/dul_logo.png') %> />
      </a>
    </div>
    <div class="navbar-product-name">
      <a href="/">
        <span class="product-name-primary">
          Books & Media Catalog
        </span>
        <span class="product-name-secondary">
          Duke POD Demo
        </span>
      </a>
    </div>

    <!-- Mobile menu button for narrowest breakpoint -->
    <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#mobile-only-menu" title="Menu" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>

  </div>


  <div class="searchbar navbar-left col-xs-12 col-sm-5 col-md-5 col-lg-6">

    <%= form_tag search_action_url, method: :get, class: 'search-query-form clearfix navbar-form', role: 'search' do %>
      <% params_to_block = blacklight_config.search_fields
                                            .keys
                                            .map(&:to_sym)
                                            .concat(%i[q search_field qt page utf8 op doc_ids]) %>
      <%= render_hash_as_hidden_fields(search_state.params_for_search.except(*params_to_block)) %>

        <div class="form-group mast-search">

          <div class="input-group">

            <% if search_fields.length > 1 %>
                <label for="search_field" class="sr-only"><%= t('blacklight.search.form.search_field.label') %></label>
                <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), id: "search_field", class: "search_field selectpicker", data: {width: "fit", style: "btn-default search-select"} ) %>
            <% elsif search_fields.length == 1 %>
              <%= hidden_field_tag :search_field, search_fields.first.last %>
            <% end %>

            <label for="q" class="sr-only"><%= t('blacklight.search.form.search.label') %></label>
            <%= text_field_tag :q, params[:q], placeholder: t('blacklight.search.form.search.placeholder'), class: "search_q q form-control", id: "q", autofocus: should_autofocus_on_search_box?, data: { autocomplete_enabled: autocomplete_enabled?, autocomplete_path: blacklight.suggest_index_path }  %>

            <div class="input-group-btn">
              <button type="submit" class="btn btn-success-action search-btn" id="search" aria-label="<%= t('blacklight.search.form.submit') %>">
                <span class="submit-search-text"><%= t('blacklight.search.form.submit') %></span>
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>

          </div>

        </div>

        <div class='search-extra-controls'>
          <div class='input-group'>
            <div class='input-group-element'>
              <%# check_box :search_within, 'no', disabled: true %>
              <!-- <label for='search_within'>Search within results</label> -->
            </div>
            <div class='input-group'>
              
              <%= link_to t('blacklight_advanced_search.form.title'), advanced_search_url, class: 'advanced_search'%>
              
              <%= render 'catalog/bookmarks_button' %>
            
            </div>
          </div>
        </div>

    <% end %>

  </div>

  <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">

      <div id="primary-menu" role="navigation" aria-label="Primary Menu">

        <ul class="nav navbar-nav">
          <li>
            <a href="https://library.duke.edu/my-accounts" class="my-accounts">
              <span class="nav-label">My Accounts</span>
            </a>
          </li>
          <li>
            <a href="https://library.duke.edu/research/ask" class="ask-a-librarian">
              <span class="nav-label">Ask</span>
            </a>
          </li>
          <li>
            <a href="#" id="full-menu-toggle" class="full-menu">
              <span class="nav-label">Menu</span>
            </a>
          </li>
        </ul>

        <%# Mobile menu button to accommodate shared DUL mast breakpoint %>
        <button type="button" class="mobile-menu-right-toggle navbar-toggle btn collapsed" data-toggle="collapse" data-target="#mobile-only-menu" title="Menu" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
        </button>

      </div>

  </div>

</div>
