/* Overrides to TRLN Argon variable defaults set in: */
/* https://github.com/trln/trln_argon/blob/master/app/assets/stylesheets/trln_argon/trln_argon_variables_defaults.scss */

$institution-logo: 'branding/dul_logo.png';
$institution-icon: 'branding/dul_devil.png';
$institution-icon-inverted: 'branding/dul_devil_inverted.png';
$trln-icon: 'trln_argon/trln_icon.png';
$trln-icon-inverted: 'trln_argon/trln_icon_inverted.png';

$primary-color: $dul-masthead-blue;
$secondary-color: shade( $primary-color, 25% );
$tertiary-color: tint( $primary-color, 25% );

$primary-link-color: $duke-royal-blue;
$secondary-link-color: shade( $primary-link-color, 25% );

$available-color: $dul-argon-green;
$not-available-color: $dul-dulcet-red;
