<!-- NOTE: Template override added to support POD -->
<div class="items well">

  <div class="availability institution-availability row">
    <% if add_spacer_above_items_section?(document: document) %>
      <div class="<%= items_spacer_class %>"></div>
    <% end %>

    <div class="<%= items_wrapper_class %>">

      <div class="row">
        <ul>
        <% TrlnArgon::Engine.configuration.sort_order_in_holding_list.split(', ').each do |inst| %>
          <% exp_doc =  document.expanded_docs.select { |doc| doc.record_owner == inst }.first %>
          <% if exp_doc.present? %>
            <li><%= link_to_local_catalog(exp_doc) %></li>
          <% end %>
        <% end %>
        </ul>
        <%# render partial: "items_section_extra", locals: { document: document } %>
      </div>

    </div>
  </div>
</div>