<!-- NOTE: Template override added to support POD -->

<div id="holdings" class="<%= show_items_class %>">

  <h2 class="holdings-header"><%= t('trln_argon.show.heading.holdings') %></h2>

  <div class="items well">
    <div class="row">

      <%= render partial: 'catalog/hathitrust_link', locals: { document: document } %>
        <ul>
        <% TrlnArgon::Engine.configuration.sort_order_in_holding_list.split(', ').each do |inst| %>
          <% exp_doc =  document.expanded_docs.select { |doc| doc.record_owner == inst }.first %>
          <% if exp_doc.present? %>
            <li><%= link_to_local_catalog(exp_doc) %></li>
          <% end %>
        <% end %>
        </ul>
        <%# render partial: "items_section_extra", locals: { document: document } %>
      </div>
    </div>

</div>

