<!-- NOTE: Added to support POD demo -->
<div id="record-list" class="<%= show_enhanced_data_class %>">
  <h3>Available records</h2>
  <ul>
    <% TrlnArgon::Engine.configuration.sort_order_in_holding_list.split(', ').each do |inst| %>
      <% exp_doc =  document.expanded_docs.select { |doc| doc.record_owner == inst } %>
      <% if exp_doc.present? %>
        <% exp_doc.each do |doc| %>
          <li class=<%= 'current-record' if doc.id == @document.id %>><%= link_to "#{doc.record_owner.titleize}, #{doc.id.gsub(/^[A-Z]+_/, '')}",
                   trln_solr_document_path(doc.id) %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
  <hr/>
